$font_main: "Open Sans", "Arial", sans-serif;
$reg: 400;
$bold: 700;

$mob_min: 320px;
$mob_max: 719px;
$tab_min: 720px;
$tab_max: 1023px;
$desk_min: 1024px;
$desk_max: 1280px;

$mob_pads: 15px;
$tab_pads: 25px;
$desk_pads: 50px;

$retina_dpi: 144dpi;
$retina_dppx: 1.5dppx;

$c_accent-light: #ec6608;
$c_accent-dark: #006f79;
$c_border: #d8d8d8;
$c_bg: #f8f8f8;
$c_text: #363636;
$c_title: #45852d;
