.filter > div {
  @include flex(row);
  align-items: center;
  width: 100%;
}

.filter label {
  @include font(16px, 1.5, $bold);
  margin-right: 10px;
}

.filter input[type="search"] {
  flex-grow: 1;
  width: auto;
  padding: 13px 18px 12px;
  border: 1px solid $c_border;
  border-radius: 25px;

  &:focus {
    outline: 0 none;
    border: 1px solid $c_text;
  }

  &:active {
    outline: 0 none;
    border: 1px solid $c_text;
  }
}
